PROVIDER_USED = 
# must be ollama, openai or claude

OPENAI_API_KEY = 
OPENAI_MODEL = 

ANTHROPIC_API_KEY = 
HUGGINGFACE_API_KEY =

OLLAMA_MODEL = 

LANGFUSE_PUBLIC_KEY =
LANGFUSE_SECRET_KEY = 
LANGFUSE_HOST = https://cloud.langfuse.com